.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #51eaea;
}

h1 {
  margin: 2rem;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #fd5e53;
}

p {
  font-size: 2rem;
  color: #ff0000;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 70%;
}

footer {
  margin-top: 10%;
  color: rgb(161, 59, 245);
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
